<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.rd.dao.ShopMapper">
  <resultMap id="BaseResultMap" type="com.cc.rd.entity.Shop">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="practice" jdbcType="BIT" property="practice" />
    <result column="shop_avg_score" jdbcType="INTEGER" property="shopAvgScore" />
    <result column="shop_num" jdbcType="INTEGER" property="shopNum" />
    <result column="delivery" jdbcType="INTEGER" property="delivery" />
    <result column="shop_adcode" jdbcType="INTEGER" property="shopAdcode" />
    <result column="shop_city_code" jdbcType="INTEGER" property="shopCityCode" />
    <result column="shop_adress" jdbcType="VARCHAR" property="shopAdress" />
    <result column="shop_phone" jdbcType="VARCHAR" property="shopPhone" />
    <result column="shop_longitude" jdbcType="DOUBLE" property="shopLongitude" />
    <result column="shop_latitude" jdbcType="DOUBLE" property="shopLatitude" />
    <result column="shop_image" jdbcType="VARCHAR" property="shopImage" />
    <result column="extend_id" jdbcType="BIGINT" property="extendId" />
    <result column="extend" jdbcType="VARCHAR" property="extend" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="create_at" jdbcType="BIGINT" property="createAt" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, shop_name, practice, shop_avg_score, shop_num, delivery, shop_adcode, 
    shop_city_code, shop_adress, shop_phone, shop_longitude, shop_latitude, shop_image, 
    extend_id, extend, update_at, update_by, create_at, create_by, is_deleted
  </sql>
  <select id="selectByExample" parameterType="com.cc.rd.entity.ShopExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shop
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cc.rd.entity.ShopExample">
    delete from shop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cc.rd.entity.Shop">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shop (user_id, shop_name, practice, 
      shop_avg_score, shop_num, delivery, 
      shop_adcode, shop_city_code, shop_adress, 
      shop_phone, shop_longitude, shop_latitude, 
      shop_image, extend_id, extend, 
      update_at, update_by, create_at, 
      create_by, is_deleted)
    values (#{userId,jdbcType=BIGINT}, #{shopName,jdbcType=VARCHAR}, #{practice,jdbcType=BIT}, 
      #{shopAvgScore,jdbcType=INTEGER}, #{shopNum,jdbcType=INTEGER}, #{delivery,jdbcType=INTEGER}, 
      #{shopAdcode,jdbcType=INTEGER}, #{shopCityCode,jdbcType=INTEGER}, #{shopAdress,jdbcType=VARCHAR}, 
      #{shopPhone,jdbcType=VARCHAR}, #{shopLongitude,jdbcType=DOUBLE}, #{shopLatitude,jdbcType=DOUBLE}, 
      #{shopImage,jdbcType=VARCHAR}, #{extendId,jdbcType=BIGINT}, #{extend,jdbcType=VARCHAR}, 
      #{updateAt,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT}, #{createAt,jdbcType=BIGINT}, 
      #{createBy,jdbcType=BIGINT}, #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.cc.rd.entity.Shop">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="practice != null">
        practice,
      </if>
      <if test="shopAvgScore != null">
        shop_avg_score,
      </if>
      <if test="shopNum != null">
        shop_num,
      </if>
      <if test="delivery != null">
        delivery,
      </if>
      <if test="shopAdcode != null">
        shop_adcode,
      </if>
      <if test="shopCityCode != null">
        shop_city_code,
      </if>
      <if test="shopAdress != null">
        shop_adress,
      </if>
      <if test="shopPhone != null">
        shop_phone,
      </if>
      <if test="shopLongitude != null">
        shop_longitude,
      </if>
      <if test="shopLatitude != null">
        shop_latitude,
      </if>
      <if test="shopImage != null">
        shop_image,
      </if>
      <if test="extendId != null">
        extend_id,
      </if>
      <if test="extend != null">
        extend,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="practice != null">
        #{practice,jdbcType=BIT},
      </if>
      <if test="shopAvgScore != null">
        #{shopAvgScore,jdbcType=INTEGER},
      </if>
      <if test="shopNum != null">
        #{shopNum,jdbcType=INTEGER},
      </if>
      <if test="delivery != null">
        #{delivery,jdbcType=INTEGER},
      </if>
      <if test="shopAdcode != null">
        #{shopAdcode,jdbcType=INTEGER},
      </if>
      <if test="shopCityCode != null">
        #{shopCityCode,jdbcType=INTEGER},
      </if>
      <if test="shopAdress != null">
        #{shopAdress,jdbcType=VARCHAR},
      </if>
      <if test="shopPhone != null">
        #{shopPhone,jdbcType=VARCHAR},
      </if>
      <if test="shopLongitude != null">
        #{shopLongitude,jdbcType=DOUBLE},
      </if>
      <if test="shopLatitude != null">
        #{shopLatitude,jdbcType=DOUBLE},
      </if>
      <if test="shopImage != null">
        #{shopImage,jdbcType=VARCHAR},
      </if>
      <if test="extendId != null">
        #{extendId,jdbcType=BIGINT},
      </if>
      <if test="extend != null">
        #{extend,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cc.rd.entity.ShopExample" resultType="java.lang.Long">
    select count(*) from shop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.shopName != null">
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.practice != null">
        practice = #{record.practice,jdbcType=BIT},
      </if>
      <if test="record.shopAvgScore != null">
        shop_avg_score = #{record.shopAvgScore,jdbcType=INTEGER},
      </if>
      <if test="record.shopNum != null">
        shop_num = #{record.shopNum,jdbcType=INTEGER},
      </if>
      <if test="record.delivery != null">
        delivery = #{record.delivery,jdbcType=INTEGER},
      </if>
      <if test="record.shopAdcode != null">
        shop_adcode = #{record.shopAdcode,jdbcType=INTEGER},
      </if>
      <if test="record.shopCityCode != null">
        shop_city_code = #{record.shopCityCode,jdbcType=INTEGER},
      </if>
      <if test="record.shopAdress != null">
        shop_adress = #{record.shopAdress,jdbcType=VARCHAR},
      </if>
      <if test="record.shopPhone != null">
        shop_phone = #{record.shopPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.shopLongitude != null">
        shop_longitude = #{record.shopLongitude,jdbcType=DOUBLE},
      </if>
      <if test="record.shopLatitude != null">
        shop_latitude = #{record.shopLatitude,jdbcType=DOUBLE},
      </if>
      <if test="record.shopImage != null">
        shop_image = #{record.shopImage,jdbcType=VARCHAR},
      </if>
      <if test="record.extendId != null">
        extend_id = #{record.extendId,jdbcType=BIGINT},
      </if>
      <if test="record.extend != null">
        extend = #{record.extend,jdbcType=VARCHAR},
      </if>
      <if test="record.updateAt != null">
        update_at = #{record.updateAt,jdbcType=BIGINT},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=BIGINT},
      </if>
      <if test="record.createAt != null">
        create_at = #{record.createAt,jdbcType=BIGINT},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      practice = #{record.practice,jdbcType=BIT},
      shop_avg_score = #{record.shopAvgScore,jdbcType=INTEGER},
      shop_num = #{record.shopNum,jdbcType=INTEGER},
      delivery = #{record.delivery,jdbcType=INTEGER},
      shop_adcode = #{record.shopAdcode,jdbcType=INTEGER},
      shop_city_code = #{record.shopCityCode,jdbcType=INTEGER},
      shop_adress = #{record.shopAdress,jdbcType=VARCHAR},
      shop_phone = #{record.shopPhone,jdbcType=VARCHAR},
      shop_longitude = #{record.shopLongitude,jdbcType=DOUBLE},
      shop_latitude = #{record.shopLatitude,jdbcType=DOUBLE},
      shop_image = #{record.shopImage,jdbcType=VARCHAR},
      extend_id = #{record.extendId,jdbcType=BIGINT},
      extend = #{record.extend,jdbcType=VARCHAR},
      update_at = #{record.updateAt,jdbcType=BIGINT},
      update_by = #{record.updateBy,jdbcType=BIGINT},
      create_at = #{record.createAt,jdbcType=BIGINT},
      create_by = #{record.createBy,jdbcType=BIGINT},
      is_deleted = #{record.isDeleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cc.rd.entity.Shop">
    update shop
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="practice != null">
        practice = #{practice,jdbcType=BIT},
      </if>
      <if test="shopAvgScore != null">
        shop_avg_score = #{shopAvgScore,jdbcType=INTEGER},
      </if>
      <if test="shopNum != null">
        shop_num = #{shopNum,jdbcType=INTEGER},
      </if>
      <if test="delivery != null">
        delivery = #{delivery,jdbcType=INTEGER},
      </if>
      <if test="shopAdcode != null">
        shop_adcode = #{shopAdcode,jdbcType=INTEGER},
      </if>
      <if test="shopCityCode != null">
        shop_city_code = #{shopCityCode,jdbcType=INTEGER},
      </if>
      <if test="shopAdress != null">
        shop_adress = #{shopAdress,jdbcType=VARCHAR},
      </if>
      <if test="shopPhone != null">
        shop_phone = #{shopPhone,jdbcType=VARCHAR},
      </if>
      <if test="shopLongitude != null">
        shop_longitude = #{shopLongitude,jdbcType=DOUBLE},
      </if>
      <if test="shopLatitude != null">
        shop_latitude = #{shopLatitude,jdbcType=DOUBLE},
      </if>
      <if test="shopImage != null">
        shop_image = #{shopImage,jdbcType=VARCHAR},
      </if>
      <if test="extendId != null">
        extend_id = #{extendId,jdbcType=BIGINT},
      </if>
      <if test="extend != null">
        extend = #{extend,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cc.rd.entity.Shop">
    update shop
    set user_id = #{userId,jdbcType=BIGINT},
      shop_name = #{shopName,jdbcType=VARCHAR},
      practice = #{practice,jdbcType=BIT},
      shop_avg_score = #{shopAvgScore,jdbcType=INTEGER},
      shop_num = #{shopNum,jdbcType=INTEGER},
      delivery = #{delivery,jdbcType=INTEGER},
      shop_adcode = #{shopAdcode,jdbcType=INTEGER},
      shop_city_code = #{shopCityCode,jdbcType=INTEGER},
      shop_adress = #{shopAdress,jdbcType=VARCHAR},
      shop_phone = #{shopPhone,jdbcType=VARCHAR},
      shop_longitude = #{shopLongitude,jdbcType=DOUBLE},
      shop_latitude = #{shopLatitude,jdbcType=DOUBLE},
      shop_image = #{shopImage,jdbcType=VARCHAR},
      extend_id = #{extendId,jdbcType=BIGINT},
      extend = #{extend,jdbcType=VARCHAR},
      update_at = #{updateAt,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>